# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
packages/BitMiracle.LibTiff.NET.2.4.584.1/BitMiracle.LibTiff.NET.2.4.584.1.nupkg
packages/BitMiracle.LibTiff.NET.2.4.584.1/lib/net20/BitMiracle.LibTiff.NET.dll
packages/BitMiracle.LibTiff.NET.2.4.584.1/lib/net20/BitMiracle.LibTiff.NET.xml
packages/BitMiracle.LibTiff.NET.2.4.584.1/lib/net40/BitMiracle.LibTiff.NET40.dll
packages/BitMiracle.LibTiff.NET.2.4.584.1/lib/net40/BitMiracle.LibTiff.NET40.xml
packages/BitMiracle.LibTiff.NET.2.4.584.1/lib/netstandard1.3/BitMiracle.LibTiff.NetStandard.dll
packages/BitMiracle.LibTiff.NET.2.4.584.1/lib/netstandard1.3/BitMiracle.LibTiff.NetStandard.xml
.vs/GeoMAX/v15/.suo
bin/Debug/GeoMAX.dll
bin/Debug/GeoMAX.dll
bin/Debug/GeoMAX.dll
bin/Debug/GeoMAX.dll
bin/Debug/GeoMAX.pdb
bin/Debug/GeoMAX.dll
bin/Debug/
obj/Debug/
